<div class="col-lg-2 d-lg-block d-none <%= name %>-nav <%= name %>-nav-pc">
  <%= render "shared/side-bar/list", list: list, name: name %>
</div>

<div class="col-lg-2 d-lg-block d-lg-none <%= name %>-nav <%= name %>-nav-mobile">
  <%= render "shared/side-bar/list", list: list, name: name %>
</div>
