<% case param %>
  <% when :room_image then %>
    <% if model == "reserve" %>
      <% 
        reration_param = "room." + param
        link = "/uploads/room/room_image/#{model.id}/#{model[reration_param]}"
      %>
    <% else %>
      <% link = "/uploads/room/room_image/#{model.id}/#{model[param]}"%>
    <% end %>
    <td>
      <%= link_to image_tag(link, class: "room-posts-image"), model %>
    </td>
    
  <% when :name then %>
    <td class="posts-name">
      <%= link_to model[param], model %>
    </td>
    
  <% when :explanation then %>
    <td class="posts-content">
      <%= model[param] %>
    </td>
    
  <% when :fee then %>
    <td class="price-icon">
      <%= model[param] %>
    </td>
    
  <% when :created_at then %>
    <td>
      <%= model[param] %>
    </td>

<% end %>

