<div class="user">
  <%= render "shared/user-nav-pc"%>
  
  <h1>Users#profile</h1>
  <p>Find me in app/views/users/profile.html.erb</p>
  
  <%= form_with model: @user, url: users_profile_path  do |f|%>
    <table>
     <tr>
       <th><%= f.label :name ,"名前" %></th>
       <td><%= f.text_field :name %></td>
     </tr>
     <tr>
       <th><%= f.label :icon ,"アイコン" %></th>
       <td><%= f.text_field :icon %></td>
     </tr>
     <tr>
       <th><%= f.label :profile ,"プロフィール" %></th>
       <td><%= f.text_area :profile %></td>
     </tr>
   </table>
   <div>
     <ul>
       <li><%= f.submit "編集を完了する" %></li>
     </ul>
   </div>
  <% end %>
  
</div>
