<div class="col-md-8">
  <img class="room-show-image" src="<%= @room.room_image %>" alt="部屋画像">
  <div class="room-show-detail">
    <div class="room-show-detail-icon">
      <img class="host-icon" src="<%= @post_user.icon %>" alt="投稿者アイコン">
    </div>
    <div class="room-show-profle">
      <p class="room-show-profile-name"><%= @room.name %></p>
      <p class="room-showw-profile-address"><%= @room.address %></p>
    </div>
  </div>
  <p class="room-show-detail-content"><%= @room.explanation %></p>
</div>
