<div class="update-content">
  <div class="row">
    
    <% case type %>
      <% when "title" then%>
        <%= render "shared/update-content/title", title: title %>
        
      <% when "show" then %>
        <%= render "shared/update-content/show", title: title, column: column, model: model %>
        
      <% when "link" then %>
        <%= render "shared/update-content/link", title: title, url: url %>
        
      <% when "icon" then %>
        <%= render "shared/update-content/icon" %>
        
      <% when "edit" then %>
        <%= render "shared/update-content/edit",title: title, column: column, field: field, placeholder: placeholder, f: f %>
                
      <% when "submit" then %>
        <%= render "shared/update-content/submit",title: title, f: f %>
        
      <% when "delete" then %>
        <%= render "shared/update-content/delete", model: model, f: f %>
        
    <% end %>

  </div>
</div>
