<div>
  <%= @area %>
  <%= @keyword %>
</div>


<% @rooms.each do |room| %>
  <%= room.id %>
  <%= link_to room.name, room %>
  <%= room.explanation %>
  <%= room.fee %>
  <%= room.address %>
  <img src=  <%= room.room_image %> alt="">
  <br>
<% end %>

