<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render "shared/users/form/input-form", column: "name", f: f, field: "text_field",
    required: true,  placeholder: "ユーザー名", autocomplete: ""%>
  <%= render "shared/users/form/input-form", column: "email", f: f, field: "email_field", 
    required: true,  placeholder: "メールアドレス", autocomplete: "email"%>
  <%= render "shared/users/form/input-form", column: "password", f: f, field: "password_field", 
    required: true, placeholder: "パスワード", autocomplete: "new-password"%>
  <%= render "shared/users/form/input-form", column: "password_confirmation", f: f, field: "password_field", 
    required: true, placeholder: "パスワード確認", autocomplete: "new-password"%>
  
  <div class="actions">
    <%= f.submit "新しいアカウントを作成", :class => "form-control btn-primary my-4 "%>
  </div>
  
<% end %>

<%= link_to "すでにアカウントをお持ちの方はログイン", new_user_session_path %>